.reviews {
    overflow: hidden;
    margin-top: 20px;
}

.reviews-slider{
    display:flex;
    gap: 20px;
    max-width: max-content;
    padding: 20px;
}

.reviews-slider img{
    width:280px;
    border-radius:16px;
    flex:none;
    scroll-snap-align:center;
    border:2px solid #7EE000;
}

.swiper-slide {
    width: 200px;
}