:root {
    --cor-primaria: #fff;
    --cor-text-a: #fff;
    --cor-text-b:#226127;
    --cor-secundaria: #6AB010;
    --linear-gradient: linear-gradient(180deg,rgba(106, 176, 16, 1) 0%, rgba(34, 97, 39, 1) 100%);
}